.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header li {
  margin: 0 1rem;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.header a:hover,
.header a:active {
  color: #ffe2ed;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

/* Header animation for scroll */
.headerHidden {
  transform: translateY(-100%);
}